// =======================
// Base/Defaults
// =======================

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  // font-size: 62.5%;
}

body {
  // font-family: $ff-os;
  // font-size: 1.6rem;
  // font-weight: 300;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

img {
  max-width: 100%;
}

ul {
  margin: 0;
  padding: 0;

  list-style-type: none;
}

a {
  text-decoration: none;

  &:hover,
  &:focus,
  &:active {
    cursor: pointer;
    text-decoration: none;

    outline: none;
  }
}
