/*!
    Project:      udg-javascript
    Author:       Artem Ustymenko
    Author URI:   https://instagram.com/ystimenkoartem/
    Version:      1.0.0
    Grid:         Bootstrap
*/

@charset 'UTF-8';

// Utils
@import 'utils/_variables',
        'utils/_mixins',
        'utils/_keyframes',
        'utils/_fonts';

// Base
@import 'base/_defaults';

// Modules
@import 'modules/_m-app',
        'modules/_m-header',
        'modules/_m-nav',
        'modules/_m-social',
        'modules/_m-brand',
        'modules/_m-svgIcon',
        'modules/_m-pngIcon',
        'modules/_m-footer';

// States
@import 'states/_s-brand',
        'states/_s-footer',
        'states/_s-nav',
        'states/_s-social';
