// =======================
// Config/Variables
// =======================

// COLORS

$navbarTop: #d6d3d3;
$primary: #f7b519;
$secondary: #f4f4f4;
$gray: #999;
$dark: #454545;
$darker: #161616;
$light: #fff;

// FONTS

$ff-os: 'Open Sans' , sans-serif;
$ff-lato: 'Lato', sans-serif;
$ff-montserrat: 'Montserrat', sans-serif;
$ff-roboto: 'Roboto', sans-serif;
$ff-caushan: 'Kaushan Script', cursive;
