mixin footer()
  footer.footer
    .container
      .footer__nav 
        +nav([ 
              { link: '/legal.html', name: 'LEGAL INFORMATION' }, 
              { link: '/terms.html', name: 'TERMS' }, 
              { link: '/privacy.html', name: 'DATA PRIVACY'}, 
              { link: '/sizing.html', name: 'SIZING' },
              { link: '/shipping.html', name: 'SHIPPING' },
              { link: '/contact.html', name: 'CONTACT' }
            ])
      .footer__social
        +social([ {link: 'facebook.com', name: 'facebook'}, {link: 'instagram.com', name: 'instagram'}, {link: 'twitter.com', name: 'twitter'} ], 'svgIcon')