mixin footer()
  footer.footer.bg-secondary
    .container
      .footer__nav 
        ul.nav
          +nav([ 
                { link: '/index.html', name: 'Home' },
                ],
                ['footer'])
        .footer__social
          +social([ 
              { link: 'github.com', name: 'github' },
              { link: 'instagram.com/ystimenkoartem', name: 'instagram'}
            ])