mixin heading(settingsObject)
  - var defaults = { tag: 'h2', text: 'text', modifiers: [] };

  - var data = Object.assign(defaults, settingsObject);

  - var modifiersString = data.modifiers.map(function (modifier) {
  -     return 'heading--' + modifier;
  -   }).join(' ');

  #{data.tag}.heading(class= modifiersString) #{data.text}