mixin nav(itemsArray, modifiersArray)
  - var modifiers = modifiersArray || []; 
  - var items = itemsArray || [];
  - modifiersString = modifiers.map(function (modifier) {
  -     return 'nav-link--' + modifier;
  -   }).join(' ');

  each item in items
    li.nav-item
      a.nav-link(href= item.link class =modifiersString) #{item.name}
