mixin nav(itemsArray, modifiersArray)
  - var modifiers = modifiersArray || []; 
  - var items = itemsArray || [];
  - modifiersString = modifiers.map(function (modifier) {
  -     return 'nav--' + modifier;
  -   }).join(' ');

  ul.nav(class= modifiersString) 
    each item in items
      li.nav__item
        a.nav__link(href= item.link) #{item.name}
        if item.dropdown
          ul.nav__dropdown
            each dropdown in item.dropdown
              li.nav__item
                a.nav__link(href= dropdown.link) #{dropdown.name}