mixin text(settingsObject)
  - var defaults = { tag: 'p', text: 'text', modifiers: [] };

  - var data = Object.assign(defaults, settingsObject);

  - var modifiersString = data.modifiers.map(function (modifier) {
  -     return 'text--' + modifier;
  -   }).join(' ');

  #{data.tag}.text(class= modifiersString) #{data.text}