extends ../layout/main.pug

include ../modules/header.pug
include ../modules/navbar.pug
include ../modules/nav.pug
include ../modules/burger.pug
include ../modules/social.pug
include ../modules/brand.pug
include ../modules/heading.pug
include ../modules/text.pug
include ../modules/button.pug
include ../modules/footer.pug

block share
  meta(property="og:site_name" content="MemeGen")
  meta(property="og:title" content="MemeGen | Home")
  meta(property="og:description" content="Create a Meme")
  meta(property="og:image" content="https://i.imgflip.com/2cp1.jpg")
  meta(property="og:url" content="url_to_page_itself")
  meta(name="twitter:card" content="https://i.imgflip.com/2cp1.jpg")
  meta(name="twitter:title" content="MemeGen | Home")
  meta(name="twitter:description" content="Create a Meme")
  meta(name="twitter:image:src" content="https://i.imgflip.com/2cp1.jpg")

block title 
  title MemeGen | Home

block content
  main.container
    .googleFontFix Fix

    #app

