// =======================
// Module/App
// =======================

.app {
  &__control {
    margin-top: 1.5rem;
  }

  &__canvas {
    display: flex;

    margin-top: 1rem;
    padding: 20px;

    justify-content: center;
    align-items: center;
  }

  &__save {
    display: flex;

    align-items: center;
    justify-content: center;
  }

  &__results {
    margin-top: 2.5rem;
  }
}
