// =======================
// Module/Burger
// =======================

.burger {
  width: 26px;
  height: 26px;
  padding: 0;

  border: none;
  outline: none;
  background-color: transparent;

  appearance: none;

  &__line {
    position: relative;
    top: 50%;
    left: 50%;

    display: block;

    width: 26px;
    height: 2px;

    transition: all 0.5s ease-in-out;
    transform: translate(-50%, -50%);

    background-color: $dark;

    &::before,
    &::after {
      position: absolute;

      display: block;

      width: 26px;
      height: 2px;

      content: '';
      transition: transform 0.25s ease, top 0.25s ease 0.5s;

      background-color: $dark;
    }

    &::before {
      top: -8px;
    }

    &::after {
      top: 8px;
    }
  }
}
