// =======================
// Module/Brand
// =======================

.brand {
  font-size: 56px;
  font-weight: 700;
  line-height: 28px;

  display: block;

  letter-spacing: -1.4px;

  color: $dark;
}
