// =======================
// Module/Social
// =======================

.social {
  display: flex;

  &__item {
    position: relative;
    z-index: 1;

    display: inline-block;

    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 28px;
    height: 28px;


    transition: border-color 0.25s ease-in-out;
    text-align: center;

    border: 1px solid transparent;
    border-radius: 50%;


    &:hover,
    &:focus,
    &:active {
      border-color: $light;
    }
  }
}
