// =======================
// Module/Social
// =======================

.social {
  display: inline-block;

  vertical-align: middle;

  &__item {
    position: relative;
    z-index: 1;

    display: inline-block;
  }

  &__link {
    display: inline-block;

    width: 28px;
    height: 28px;
    margin-right: 10px;

    transition: border-color 0.25s ease-in-out;
    text-align: center;

    border: 1px solid transparent;
    border-radius: 50%;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus,
    &:active {
      border-color: #838d8f;
    }
  }
}
